{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/title" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "type-of-item",
          name: "type-of-item",
          fieldset: {
            legend: {
              text: "What do you want to sell?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Antiques",
              text: "Antiques",
              checked: checked('type-of-item', 'Antiques')
            },
            {
              value: "Appliances",
              text: "Appliances",
              checked: checked('type-of-item', 'Appliances')
            },
            {
              value: "Arts and crafts",
              text: "Arts and crafts",
              checked: checked('type-of-item', 'Arts and crafts')
            },
            {
              divider: "or"
            },
            {
              value: "Other",
              text: "Something else",
              checked: checked('type-of-item', 'Other')
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
