{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/type-of-item" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "where-do-you-live",
          name: "where-you-live",
          fieldset: {
            legend: {
              text: "Where do you live?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "London",
              text: "London",
              checked: checked('where-you-live', 'London')
            },
            {
              value: "Birmingham",
              text: "Birmingham",
              checked: checked('where-you-live', 'Birmingham')
            },
            {
              value: "Manchester",
              text: "Manchester",
              checked: checked('where-you-live', 'Manchester')
            },
            {
              divider: "or"
            },
            {
              value: "Elsewhere",
              text: "Something else",
              checked: checked('where-you-live', 'Elsewhere')
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
